/*------------------------------------------------------------------ 
# [Color codes] 
 
# Pink (heading): #d51289 (logo color)
# Purple (search label) #971298
# Dark Pink (menu) #980e62 
# Light Pink (form borders ) #cc89b2
# Yellow (user pic border)  #ffc364
# */  

html {
  font-size: 62.5%;
  height: 100%;
}

body { 
  background: url(../images/bg-repeat-body.gif) repeat-x 0 0;
	color: #363636;
	font: 1.2em/1.4em georgia, verdana, arial, tahoma;
  height: 100%;
	overflow: -moz-scrollbars-vertical;
	text-align: center;
}

.wrap {
  background: url(../images/footer-bg.gif) repeat-x 0 bottom;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.main-wrap {
  background: url(../images/bg-repeat-main.gif) repeat-x 0 0;
 	margin: 0 auto;
}
#main {
 	margin: 0 auto;
	text-align: left;
	width: 870px;
}
#content {
	background: url(../images/bg.jpg) no-repeat 100px 0;
	padding: 0 0 60px 0;
}
  .content-wrap {
    margin: 40px 0;
  }

#header {
  width: 870px;
  margin: 0 auto 10px;
}

#header .advertisement {
	background: #edf4f4;
  clear: both;
  padding: 15px 0;
  margin: 0 0 10px;
  zoom: 1;
}

	#header .logo {
		display: block;
    float: left;
  }
  
  #header .sub-content {
  	clear: both;
  }
  
.menu {
	float: right;
  height: 25px;
  margin: 18px 0 10px;
}
.menu li {
	border-right: 1px solid #e374c1;
  display: inline;  
  font-size: 1.333em;
  padding: 2px 15px 2px 13px;;
}
.menu li.last {
	border: 0;
}
	.menu li a {
  	color: #980e62;
	}
 	.menu li.last{
  	padding: 0 0 0 13px;
  }
		.menu li a:hover {
		  color: #b83a87
		}
    
#header .search {
	float: right;
  margin: 40px 0 0;
  width: 555px;
}
	#header .search label {
  	color: #971298;
    float: left;
  	font-size: 1.5em;
    line-height: 1.333em;
    padding: 0 15px 0 0;
  }

	input.search-input {	
		background: url(../images/search-input.gif) top left no-repeat;
		border: 0;
		display: inline;
    float: left;
    font-size: 1.333em;
		height: 15px;	
    margin: 0 3px 0 0;
    padding: 5px 10px;
    width: 230px;
	}
  
.search-error {
  margin: 20px 0 0;
}
  
.tagline {
	color: #2c2c2c;
	font-size: 1.5em;
  line-height: 2.333em;
  height: 35px;
  text-align: center;
}

/* breadcrumb */
.breadcrumb {
  height: 25px;
  padding: 9px 0 0;
}
.breadcrumb li.first a {
  padding: 0 16px 0 0;
}
.breadcrumb li {
  color: #2c2c2c;
  display: inline;
}
  .breadcrumb li a {
    font-size: 1.5em; 
    line-height: 1.166em;
    padding: 0 14px 0 16px;
  }

#welcome {
  padding: 35px 0;
}

.tag-flash {
	float: left;
	height: 250px;
  overflow: hidden;
  width: 600px;
}

.ad {
  border: 2px solid #333;
  background: #e3e3e3;
	float: right;
  text-align: center;
  height: 250px;
  width: 250px;
}

.ad a {
  font-size: 1.5em;
  display: block;
  margin: 110px 0 0;
}

.tag {
	background: url(../images/tag-bullet.gif) no-repeat 0 15px;
}
	.tag a, .tag span {
		font-size: 2.5em;
    line-height: 1.166em;
  	padding: 0 0 0 15px;
	}
  
  .tag small {
    color: #363636;
  	font-size: 1.166em;
    padding: 0 0 0 5px;
  }
  	.tag small a {
      color: #505050;
  		font-size: 1em;
      font-weight: bold;
    }

.love-buttons-wrap {
  height: 20px;
	margin: 30px 0 40px;
  padding: 10px 0;
}    
	.love-buttons li {
	  background: url(../images/sprite.gif) no-repeat 0 0;
		display: inline-block;
    float: left;
    font-size: 1.5em;
    line-height: 1.166em;
    margin: 0 40px 0 0;
    padding: 0 10px 0 20px;
	}

    .love-buttons li.love {
      background-position: 0 -68px;
    	color: #d51289;
    }
    .love-buttons li.love a {
      color: #d51289;
    }

    .love-buttons li.hate {
      background-position: 0 -92px;
    	color: #971298;
    }
    .love-buttons li.hate a {
      color: #971298;
    }
    
.sounds-like h2.love {
  font-size: 2em;
  margin: 0 0 20px 0;
}
    
.tags .home-header .user {
  color: #112000;
  float: right;
  font-size: 0.5em;
  line-height: 2em;
  padding: 0 10px;
}    
    
.tag-list li {
	background: url(../images/bullet.gif) no-repeat 0 9px;
  font-size: 1.5em;
  padding: 0 0 4px 10px;
}

.home-header {
	background: url(../images/dotted.gif) repeat-x 0 53px;
	font-size: 2.5em;
  height: 34px;
  padding: 20px 0;
}
  .home-header small {
    font-size: 0.5em;
    padding: 0 0 0 15px;
  }
  
  .content-wrap .home-header {
    margin: 0 0 20px;
  }
  
.forgot-password-link {
  display: inline-block;
  margin: 5px 0 0;
  padding: 0 15px;
  vertical-align: top;
}

.tag-cloud {
  margin: 0 0 60px;
}
  
#homepage .tag-cloud {
	min-height: 180px;
  height:auto !important;
  height: 180px;
	margin: 0 0 60px;
  padding: 0 150px 0 0;
}

.tag-love {
	background: url(../images/tag-love.gif) no-repeat right 0;
}
.tag-hate {
	background: url(../images/tag-hate.gif) no-repeat right 0;
}

	.tag-cloud .tag {
  	background-image: url(../images/tag-bullet.gif);
    background-repeat: no-repeat;
    /*display: inline-block;  avoid line breaks*/
    line-height: 1.333em;
    padding: 0 20px 0 10px;
  }	
  .size0 {
    background-position: 0 5px;
  }
  .size1 {
  	background-position: 0 5px;
  }
	.size2 {
  	background-position: 0 7px;
  	font-size: 1.333em;
  }
	.size3 {
  	background-position: 0 9px;
  	font-size: 1.5em;
  }
	.size4 {
  	background-position: 0 11px;
  	font-size: 1.667em;
  }
	.size5 {
   	background-position: 0 14px;
 		font-size: 2em;
  }
	.size6 {
  	background-position: 0 18px;
  	font-size: 2.5em;
  }

.users {
  height: 79px;
}
.users li {
	float: left;
  margin: 0 8px 10px 0;
}
.users li.last {
	margin: 0;
}
.users li a img {
	border: 2px solid #ffc364;
	display: block;
}
.users li .nick {
  /*background: url(../images/tag-bullet.gif) no-repeat 0 9px; */
  display: block;
  color: #595959;
  overflow: hidden;
  white-space: nowrap;
  padding: 3px 0 10px;
  height: 10px;
  width: 75px;
}

#gallery span.action {
  background: #ffc364;
  color: #000;
  display: block;
  padding: 4px;
}

#gallery li.avatar a img {
  border: 2px solid #d51289;
}
#gallery li.avatar span.action {
  background: #d51289;
}

#scale .users-links {
	padding: 5px 0 10px;
	text-align: right;
}

#scale .users-links a {
	font-size: 1.333em;
  padding: 0 5px 0 0;
}
  
  #scale a.left {
    color: #d51289;
    display: block;
    font-size: 2em;
    line-height: 1.166em;
    margin: -5px 0 0;
  }
#scale .users li {
  margin: 0 5px 0 0;
}
#scale .users li.last {
  margin: 0;
} 
#scale .lovers, #scale .haters {
	float: left;
}

#scale .lovers .empty {
  background: #cb1182;
  height: 99px;
  width: 10px;
}
#scale .haters .empty {
  background: #670c68;
  height: 99px;
  width: 10px;
}

#scale .lovers .users {
	background: #cb1182;
  float: left;
  padding: 10px;
}

#scale .haters  .users {
	background: #670c68;
  float: left;
  padding: 10px;
}

#scale .lack {
	background: #f5f5f5;
  height: 85px;
} 
  #scale .lack p {
    font-size: 1.333em;
    padding: 35px 0 0 20px;
  }

.users-percent {
	clear: both;
  font-size: 1.5em;
  padding: 10px 0;
}
.lovers .users-percent {
	text-align: right;
}

	.users-percent a.love {
  	border-right: 1px solid #e4c1e4;
    padding: 0 20px 0 0;
  }	
  .users-percent a.hate {
    padding: 0 0 0 15px;
  }

  
/* Comments */
h2.sub-header {
	font-size: 2em;
  margin: 0 0 20px;
}

h3.sub-header {
  font-size: 1.5em;
  margin: 0 0 10px;
}

h3.sub-header a {
  color: #0060ff;
  text-decoration: underline;
}

.blog-entry 
{
  margin: 0 0 30px;
}


.comments {
	margin: 40px 0 0;
}

.comment {
  border-bottom: 1px solid #e3e3e3;
	margin: 0 0 30px 0;
}
.comment a.user img {
	border: 2px solid #ffc364;
  display: block;
  float: left;
  margin: 0 0 20px;
}
.indented {
  margin: 0 0 30px 100px;
}
.comment .comment-text {
  /*background: #fbfcd4;*/
  color: #181818;
  display: inline;
	float: left;
  font-size: 1.167em;
  font-family: "lucida grande", arial, sans-serif;
  line-height: 1.5em;
  margin: 0 0 0 20px;
  padding: 0 0 10px;
  width: 770px;
}
.indented .comment-text {
  width: 670px;
}
  .comment .lover {
  	/*background: #fdf5fa;*/
  }
  .comment .hater {
  	/*background: #f2f2f2;*/
  }
  .comment .notice {
    background: #f2f2f2;
    padding: 15px;
  }
  
 	.comment-data {
    font-family: georgia, "lucida sans unicode", sans-serif;
    font-size: 1.166em;
  	margin: 0 0 20px;
  }
  .lover .comment-data a.user {
    font-weight: bold;
  }  
  .hater .comment-data a.user {
    font-weight: bold;
  }
  
  .comment-data .time {
  	color: #505050;
  }
  
  .comment-reply-link {
    background: url(../images/comment-reply.png) no-repeat 0 4px;
    color: #d51289;
    float: right;
    font-weight: bold;
    padding: 0 5px 0 20px;
  }
  
  .comment-reply-form {
    background: #f5f5f5;
    display: block;
    margin: 15px 0 0;
    padding: 20px;
    text-align: right;
  }
  
  .comment-reply-form textarea {
    font-size: 1em;
    height: 50px;
    margin: 0 0 10px 0;
    width: 707px
  }
  
  .indented .comment-reply-form textarea {
    width: 607px  
  }
  
  .comment-main-form {  
    font-size: 1.333em;
    margin: 0 0 0 100px;
  }
  
  .comment .notice {
    font-size: 1.333em;
  }
  
  .form-submit .submit-button {
    float: right;
  }
  
  .form-submit .small {
    float: left;
    line-height: 1.5em;
    text-align: left;
  }

  .form-submit .small a.toggle-markdown {
    color: #a3a3a3;  
  }
  
  .formatting-help {
    float: left;
    text-align: left;
  }
  
  .formatting-help p {
    margin: 10px 0 20px;
  }
  .formatting-help h6 {
    font-weight: bold;
    margin: 40px 0 10px;
  }
  .formatting-help h6.first {
    margin: 20px 0 10px;
  }
  
  .formatting-help a {
    color: #0060ff;
    text-decoration: underline;  
  }

  
  
  .add-comment {
    margin: 10px 0 20px;
  }
  
  .comment-added {
    background: #d8ffde;
    margin: 0 0 10px;
    padding: 10px;
  }
  .markdown-body {
    overflow: hidden;
  }
  .markdown-body strong {
    font-weight: bold;
  }
  
  .markdown-body p {
    margin: 0 0 25px;
  }
  
  .mardown-body em {
    font-style: italic;
  }
  
  .markdown-body a {
    color: #0060ff;
    text-decoration: underline;
  }
  
  .markdown-body a:hover {
    color: #154ba4;
  }
  
  .markdown-body a.out-link {
    background: url(../images/out-link.gif) no-repeat right 6px;
    padding: 0 11px 0 0;
  }
  
.markdown-help {
  margin: 0 0 0 165px;
}

/* messages */
#messages .tabs {
  margin: 0 0 10px;
}

.tabs li {
  display: inline;
  font-size: 1.333em;
  padding: 0 20px 0 16px;
}
  .tabs li.first {
    border-right: 1px solid #e3e3e3;
    padding: 0 20px 0 14px;
  }
  
  #messages .action {
    background: #f4f4f4;
    padding: 10px 15px;
  }

    #messages .action li {
      border-right: 1px solid #e3e3e3;
      display: inline;
      padding: 0 12px 0 8px;
    }
      #messages .action li.compose {
        background: url(../images/email.png) no-repeat 0 0;
        padding: 0 18px 0 24px;
      }
      #messages .action li.compose a {
        color: #d51289;
      }
    #messages .action li a {
      color: #494949;
    }
    
    #messages .action li.first {
      border: 0;
      color: #bababa;
      padding: 0 3px 0 0;
    }
    #messages .action li.last {
      border: 0;
    }
    
    #messages .arrow {
      background: url(../images/arrow.png) no-repeat 110px 0;
    }
    
    
.conversation {
  border-bottom: 1px solid #e5e5e5;
  height: 102px;
  margin: 10px 0;
}

.read .message-subject {
  background: #f4f4f4;
	overflow: hidden;
}

.unread .message-subject {
  background: #d8ffde;
	overflow: hidden;
}

.conversation a.user img {
  border: 2px solid #ffc364;
  float: left;
  margin: 10px;
}
.conversation .message-from {
  float: left;
  width: 757px;
  margin: 24px 0 0 0;
  line-height: 2em;
}
.conversation .message-from a  {
  font-weight: bold;
}
.conversation .message-from small,
.conversation .message-subject small {
  float: right;
  padding: 0 4px;
}
.conversation .message-from a,
.conversation .message-subject a,
.conversation .message-subject span {
  font-size: 1.333em;
  padding: 0 4px;
}
.conversation .message-subject {
  float: left;
  height: 30px;
  width: 750px;
  line-height: 2em;
  margin: 3px 0 0 0;
  padding: 8px 10px 0;
}

.conversation .message-subject .accept-icon {
  background: url(../images/accept.png) no-repeat 0 2px;
  padding: 0 30px 0 20px;
}

.conversation .message-subject .cancel-icon {
  background: url(../images/delete.png) no-repeat 0 2px;
  padding: 0 0 0 20px;
}


.no-message {
  font-size: 1.333em;
  margin: 40px 20px;
}
.message-header {
  margin: 0 0 20px;
}
.message-header a {
  font-size: 1.333em;
  font-weight: bold;
}

.message {
  border-bottom: 1px solid #e3e3e3;
  font-size: 1.333em;
  margin: 20px 0 0;
}

.message a.user img {
  border: 2px solid #ffc364;
  display: block;
  float: left;
  margin: 0 10px 20px 0;
}
.message-content {
  float: left;
  margin: 0 0 20px;
  width: 770px;
}
.message-content h3 {
  margin: 0 0 20px;
}

.message-content h3 a.user {
  font-weight: bold;
  padding: 0 10px 0 0;
}

.message-content textarea {
  font-size: 1em;
  height: 70px;
  width: 759px;
}
.send-button {
  background: url(../images/send-button.gif) no-repeat 0 0;
  border: 0;
  cursor: pointer;
  height: 25px;
  width: 83px;
}

  
.text-submit {
  border: 0;
  background: transparent;
  cursor: pointer;
  color: #494949;
}
/* profile */
#profile {
  margin: 40px 0;
}
#profile a.user {
  display: block;
  float: left;
}
#profile a.user img {
	border: 2px solid #ffc364;
}
  #profile .data {
    float: left;
    margin: 4px 0 0 25px;
    width: 390px;
  }
  
  #profile h1.user-header {
    font-size: 2em;
  }
  
  h1.user-header small {
    font-size: 0.5em;
    color: #8B8B8B;
    padding: 0 0 0 10px;
  }

  #profile .data .account {
    background: url(../images/sprite.gif) no-repeat 0 0;
    font-size: 1.333em;
    height: 30px;
    margin: 30px 0 20px;
    padding: 3px 0 0 25px;
  }
   
  #profile .data .male {
    background-position: 0 -40px;
  }
  
  .tag-counts {
    font-size: 1.333em;
  }
  
  .harmony {
    font-size: 1.333em;
    margin: 30px 0 0;
  }
  
  .harmony h3 {
    color: #545454;
  }
  
  .harmony-meter {
    background: #FFE9C7;
    height: 8px;
    width: 380px;
    margin: 10px 0;
  }
  
  .harmony-fill {
    background: #FFC364;
    height: 8px;
  }
  
  .harmony-text a {
    color: #0060ff;
  }
  
  .harmony-text a:hover {
    color: #154ba4;
  }
  
  
#profile .buttons li a {
  font-size: 1.333em;
  line-height: 1.5em;
  padding: 0 0 0 20px;
}
    .buttons li.email-icon {
      background: url(../images/email.png) no-repeat 0 5px;
    }
    
    .buttons li.picture-icon {
      background: url(../images/picture.png) no-repeat 0 5px;
    }
    .buttons li.tag-icon {
      background: url(../images/tag_blue.png) no-repeat 0 5px;
    }
    
.user-sidebar {
  float: left;
  width: 179px;
}
  .user-sidebar .user {
    float: left;
    margin: 0 0 10px;
  }
  .user-sidebar-actions {
    float: left;
  }

  .user-sidebar-actions  li {
    display: block;
    border-bottom: 1px solid #ffe6bf;
    font-size: 1.333em;
    padding: 6px 5px;
    width: 169px;
    vertical-align: bottom;
  }
  
  .user-sidebar-actions li a:hover {
    color: #154ba4;
  }

.quote-form {
  margin: 20px 0;
}  
  .quote-form  h3 {
    font-size: 1.333em;
    margin: 0 0 10px;
  }
  
.main-header {
	background: url(../images/dotted.gif) repeat-x 0 40px;
	font-size: 2.5em;
  height: 34px;
  padding: 10px 0 20px;
}

.ad-sibling {
  float: left;
  width: 600px;
}

#upload-form {
  margin: 0 0 40px;
}

.pagination {
  margin: 20px 0 0;
	text-align: right;
}
.pagination li {
  color: #d51289;
  font-size: 2em;
	display: inline;
  line-height: 1.133em;
  padding: 0 12px;
}
  .pagination li a {
    color: #515151;
  }
  .pagination li a.love {
    color: #d51289;
  }
  .pagination li a.low {
  	color: #9d9d9d;
  }

.love {
	color: #d51289;
}  
.hate {
	color: #971298;
}

.sticky {
  color: #4c4c4c;
}

.permission-box {
  margin: 30px 0 0;
}

.permission-box a {
  color: #d51289;
}

.notice div {
  font-size: 1.333em;
  margin: 0 0 20px;
  padding: 10px;
}
.notice .general {
  padding: 10px 0;
}
.notice .success {
  background: #d8ffde;
}
.notice .error {
  background: #ffd8db;
}
  .notice img {
    vertical-align: middle;
  }
  
.push {
  height: 50px;
}

.lucida {
  font-family: "lucida grande", arial, sans-serif;
}

#indicator {
  background: url(../images/indicator.gif) no-repeat 0 0;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 32px;
  z-index: 999;
}
#footer {
	background: #dc369a;
 	color: #fff;
  font-size: 1.333em;
  height: 50px;
}
	.footer-wrap {
	 	margin: 0 auto;
		text-align: left;
    padding: 18px 0 0;
		width: 870px;  
  }

	.footer-list {
  	float: right;
  }
  .footer-list li {
  	display: inline;
  }
  	.footer-list li a {
    	color: #fff;
      padding: 0 12px 0 10px;
    }
    
    .footer-list li a.break {
    	background: url(../images/dot-break.gif) no-repeat 0 9px;
      padding: 0 12px 0 20px;
    }