/* global 
----------------------------------------------------------*/

img, div, a { behavior: url(/kuyabiye/doc/html/includes/iepngfix.htc) }

.clear {
  line-height: 0;
  clear: both;
  font-size: 0px;
  height: 0;
}
.only-clear {
  line-height: 0;
  clear: both;
  font-size: 0px;
  height: 0;
  }
.only-clear-left {
  line-height: 0;
  clear: left;
  font-size: 0px;
  height: 0;
  }
.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center { 
  text-align:center;
}
.text-justify  {
  text-align:justify;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}

.no-border {
  border: 0 !important;
}
.bordered {
	border: 1px solid #e3e3e3;
}

.white {
  color: #fff;
}
.red {
  color: #ec5156;
}
.green {
	color: #5d9d10;
}

.underline {
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}

.onleft {
  width: 100%;
  text-align: left;
}
.onleft small {
  display: inline;
  float: right;
}
a {
  color: #1a120f;
  outline: 0;
  text-decoration: none;
}

.left-margin {
  margin-left: -5000px;
}

#loading {
  background: #fff;
  color: #e33939;
  float: right;
  visibility: hidden;
  text-align: right;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
}
#loading  img {
  padding: 0 5px;
  vertical-align: middle;
}
